*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:linear-gradient(to right, rgb(255, 62, 62) ,rgb(255, 255, 37));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}